        principal{
           background:  #cccccc;
        }

        h1{text-align: center;
        }


    p {text-align: center;}



    #missao{
         color:red;
         font-size: 18px;
    }

    #banner { 
      width: 100%;
    }

    .beneficios-titulo{
      text-align: center; 
    }

    .itens {
        font-style: italic;
    }

    .beneficios {
        background:red;
   }

ul{
   display:inline-block;
   width: 50%;
}




   .beneficios-imagem{
    width: 50%;
   }

